{% extends "layouts/base-auth.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/auth.css?v=4">
{% include "partials/auth-react-css.html" %}
{% endblock %}
{% block extra_head %}
{% if google_client_id %}
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endif %}
{% endblock %}
{% block content %}
{% from "partials/auth_macros.html" import auth_shell %}
{% call auth_shell() %}
  <div
    data-auth-login-root
    data-google-client-id="{{ google_client_id or '' }}"
  ></div>
{% endcall %}
{% endblock %}
{% block extra_scripts %}
{% include "partials/auth-react-js.html" %}
{% endblock %}
